.img-full-width {
	width:100%;
}

.nav-bar {
	font-size:1em;
}
h3 {
	font-size:0.6em;
}
.container {
	width: 740px;
}
.img-portrait {
	height: 400px;
}
.img-botes {
	width: 181px;
}		


@media only screen and (min-width: 480px) {
	// body{background: red;}
}
@media only screen and (min-width: 600px) {
	// body{background: blue;}
}
@media only screen and (min-width: 768px) {
	// body{background: green;}
	.nav-bar {
		font-size:1em;
	}
	h3 {
		font-size:0.6em;
	}
	p {
		font-size:0.9em;
	}
	.container {
		width: 740px;
	}
	.img-portrait {
		height: 400px;
	}
	.img-botes {
		width: 181px;
	}	
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
	h3 {
		font-size:0.8em;
	}
	.nav-bar {
		font-size: 1em;
		padding-top:20px;
		padding-bottom:20px;
	}
	.img-portrait {
		height: 550px;
	}
	.columns .column-medios{
		width:100%;
		// background: yellow;
	}
}
@media only screen and (min-width: 992px) {
	// body{background: orange;}
	.container {
		width: 1000px;
	}
	.img-portrait {
		height: 600px;
	}
	.img-botes {
		width: 246px;
	}

	.nav-bar {
		font-size:0.8em;
	}
	h3 {
		font-size: 0.9em;
	}
}
@media only screen and (min-height: 900px) {
	.nav-bar {
		font-size:0.8em;
	}
	h3 {
		font-size:0.9em;
	}
	.container {
		width: 740px;
	}
	.img-portrait {
		height: 800px;
	}
	.img-botes {
		width: 181px;
	}		
}

@media only screen and (min-width: 1100px) {
	h3 {
		font-size:0.7em;
	}
}
