 <div class="columns">
	<div class="column column-medios">
 	 <img class="img-full-width" class="img" src="imagenes/23.jpg" />
	</div>

 	<div class="column column-medios">
 	<h2>contacto</h2>
		<h4>miriamsalado87@gmail.com<h4>
      	<a href="http://www.tumblr.com/blog/miriamsalado" target="tumblr"><span class="fa fa-tumblr"><span></a>
      	<a href="http://instagram.com/miriamsalado" target="istagram"><span  class="fa fa-instagram"><span></a>      
	</div>
