<img class="img-centered img-portrait" src="/imagenes/3.jpg" />
<h3><em>Retrato #1.</em> 2012. Grafito, bisutería y lápiz de color sobre papel. 125x98cm. </h3>
<img class="img-centered img-portrait" src="/imagenes/4.jpg" />
<h3><em>Retrato #2.</em> 2012. Grafito, bisutería y lápiz de color sobre papel. 125x98cm. </h3>
<img class="img-centered img-portrait" src="/imagenes/5.jpg" />
<h3><em>Retrato #3.</em> 2012. Grafito, bisutería y lápiz de color sobre papel. 125x98cm. </h3>
<img class="img-centered img-portrait" src="/imagenes/6.jpg" />
<h3><em>Retrato #4.</em> 2012. Grafito, bisutería y lápiz de color sobre papel. 125x98cm. </h3>
<img class="img-centered img-portrait" src="/imagenes/7.jpg" />
<h3><em>Retrato #5.</em> 2012. Grafito, bisutería y lápiz de color sobre papel. 125x98cm. </h3>
<img class="img-centered img-portrait" src="/imagenes/8.jpg" />
<h3><em>Retrato #6.</em> 2012. Grafito, bisutería y lápiz de color sobre papel. 125x98cm. </h3>
<audio src="/audio/sanguinarios.mp3"></audio>
<h3><em>Sanguinarios. </em>2013. Colaboración con <a href="http://www.aquiaquiaqui.net/" target="jmm" > Juan Manuel Morales.</a></h3>
<img src="/imagenes/10.jpg" class="img-full-width" />
<h3>2013. Bisutería sobre cráneo de vaca.</h3>
<img src="/imagenes/1.jpg" class="img-full-width" />
<h3>2014. Lápiz de color sobre papel. 25 x 25cm c/u.</h3>

<h1>Vanitas</h1>
<div class="columns"> 
	<div class="column column-medios">
	<h4>Por Alán Sierra.</h4>
		<p>Si queremos distinguirnos buscaremos que ponernos encima, tomaremos  con desesperación cualquier símbolo que se encuentre a la mano que nos represente. El desarrollo de la civilización ha cambiado las cosas, en algún momento de la historia los símbolos se volvieron productos, lujos propios de la moda empezaron a definir nuestra cultura. Trapos y piedras, disponibles como mercancía, congregan a grupos de personas. Una verdad incómoda es que si bien guardamos motivaciones diferentes, el consumo unifica.</p>

		<p>El Cártel aquí presente, parece entregado a placeres profanos. A riesgo de banalizar disciplinas sagradas y alejar a defensores de la alta cultura, Salado ha otorgado un cuidadoso tratamiento a la reproducción de objetos y situaciones populares, rescatando su trascendencia simbólica. El dibujo opera en función del muestreo, una técnica entregada al estudio de la naturaleza se vuelve una fiel herramienta para el artista-etnógrafo interesado en las sutilezas de la subjetividad.</p>

		<p>Pero también hay una razón filosófica flotando en éste fenómeno, Los Pesados saben mucho de la muerte. El imaginario de la cultura que nos compete, imprime gran valor en una vida suntuosa, abarrotada de privilegios sensoriales.</p>

	</div>

	<div class="column column-medios">
		<p><br>Puede ser que el brillo con el que cubren las joyas, telas y uñas haga las veces de velo de un secreto a voces, un combate estoico, fuerte ante la desgracia, donde el más arriesgado es también el más resplandeciente y el fugaz esplendor tiene su precio.</p>

		<p>Calaveras, cruces y joyería configuran el escudo de armas de un grupo social que atrae e intimida al mismo tiempo. Miriam Salado ha sabido articular un tema complejo, en ésta exposición la breve ironía es a su vez una perspectiva crítica ante una realidad nublada, parece espléndida pero es grave en el fondo.</p>

		<p>A pesar del enrarecimiento que confiere la presencia de éstos otros, no son tan extraños a lo cotidiano. Resultan familiares pues en la casa, la calle y en los medios son los valores que ponderan pero con cierto grado de recato, una censura diluida por la realidad ineludible.</p>

		<p>Es claro que después de los excesos, gestos de abatimiento no tardan en aparecer. La botella vacía es un presagio en vano. Hay miles de latas 
			aplastadas.</p>
	</div>
</div>
<h3>Texto de sala. El cártel de los pesados. Hermosillo, Sonora, 2013.</h3>

<img src="/imagenes/11.jpg" class="img-full-width" />
<h3>2013. Bisutería sobre cráneo de vaca.</h3>
<img src="/imagenes/12.jpg" class="img-full-width" />
<h3>2014. Lápiz de color y bisutería sobre papel. 24 x 31cm.</h3>
<img class="img-centered" src="/imagenes/13.jpg" />
<h3><em>La loquera #1.</em> 2012. Grafito y lápiz de color sobre papel. 44 x33cm.</h3>
<audio src="/audio/laloquera.mp3"></audio>
<h3><em>La loquera. </em>2013. Colaboración con <a href="http://www.aquiaquiaqui.net/" target="jmm"> Juan Manuel Morales. </a></h3>
<img src="/imagenes/14.jpg"  class="img-full-width" />
<h3><em>La loquera #2.</em> 2012. Grafito y lápiz de color sobre papel. 44 x33cm.</h3>
<img src="/imagenes/15.jpg"  class="img-full-width" />
<h3><em>La loquera #3.</em> 2012. Grafito y lápiz de color sobre papel. 44 x33cm.</h3>
<img src="/imagenes/2.jpg"  class="img-full-width" />
<h3><em>7 Etiquetas de cerveza.</em> 2014. Lápiz de color sobre papel. 31 x31cm.</h3>

<img class="img-botes" src="/imagenes/16botes/1.jpg" />
<img class="img-botes" src="/imagenes/16botes/2.jpg" />
<img class="img-botes" src="/imagenes/16botes/3.jpg" />
<img class="img-botes" src="/imagenes/16botes/4.jpg" />
<img class="img-botes" src="/imagenes/16botes/5.jpg" />
<img class="img-botes" src="/imagenes/16botes/6.jpg" />
<img class="img-botes" src="/imagenes/16botes/7.jpg" />
<img class="img-botes" src="/imagenes/16botes/8.jpg" />
<img class="img-botes" src="/imagenes/16botes/9.jpg" />
<img class="img-botes" src="/imagenes/16botes/10.jpg" />
<img class="img-botes" src="/imagenes/16botes/11.jpg" />
<img class="img-botes" src="/imagenes/16botes/12.jpg" />
<img class="img-botes" src="/imagenes/16botes/13.jpg" />
<img class="img-botes" src="/imagenes/16botes/14.jpg" />
<img class="img-botes" src="/imagenes/16botes/15.jpg" />
<img class="img-botes" src="/imagenes/16botes/16.jpg" />
<img class="img-botes" src="/imagenes/16botes/17.jpg" />
<img class="img-botes" src="/imagenes/16botes/18.jpg" />
<img class="img-botes" src="/imagenes/16botes/19.jpg" />
<img class="img-botes" src="/imagenes/16botes/20.jpg" />
<img class="img-botes" src="/imagenes/16botes/21.jpg" />
<img class="img-botes" src="/imagenes/16botes/22.jpg" />
<img class="img-botes" src="/imagenes/16botes/23.jpg" />
<img class="img-botes" src="/imagenes/16botes/24.jpg" />
<img class="img-botes" src="/imagenes/16botes/25.jpg" />
<img class="img-botes" src="/imagenes/16botes/26.jpg" />
<img class="img-botes" src="/imagenes/16botes/27.jpg" />
<img class="img-botes" src="/imagenes/16botes/28.jpg" />
<img class="img-botes" src="/imagenes/16botes/29.jpg" />
<img class="img-botes" src="/imagenes/16botes/30.jpg" />
<img class="img-botes" src="/imagenes/16botes/31.jpg" />
<img class="img-botes" src="/imagenes/16botes/32.jpg" />
<img class="img-botes" src="/imagenes/16botes/33.jpg" />
<img class="img-botes" src="/imagenes/16botes/34.jpg" />
<img class="img-botes" src="/imagenes/16botes/35.jpg" />
<img class="img-botes" src="/imagenes/16botes/36.jpg" />
<img class="img-botes" src="/imagenes/16botes/37.jpg" />
<img class="img-botes" src="/imagenes/16botes/38.jpg" />
<img class="img-botes" src="/imagenes/16botes/39.jpg" />
<img class="img-botes" src="/imagenes/16botes/40.jpg" />
<img class="img-botes" src="/imagenes/16botes/41.jpg" />
<img class="img-botes" src="/imagenes/16botes/42.jpg" />
<img class="img-botes" src="/imagenes/16botes/43.jpg" />

<h3><em>Miles de latas aplastadas.</em> 2013/2014. Lápiz de color sobre papel. 25 x 25cm c/u.</h3>
<img src="/imagenes/17.jpg" class="img-full-width" />
<h3><em>Un 24.</em> 2013. El Cartel de los Pesados.</h3>
<img src="/imagenes/18.jpg" class="img-full-width" />
<h3><em>El Benitez.</em> 2011. Grafito y tinta sobre papel. 70 X 50cm.</h3>
<img src="/imagenes/19.jpg" class="img-full-width" />
<h3>2012. Grafito y tinta sobre papel. 50 x70cm c/u.</h3>
<img src="/imagenes/20.jpg" class="img-full-width" />
<h3><em>Vivo por mi madre, muero por mi barrio.</em> 2011. Grafito y tinta sobre papel. 40 x 50cm c/u.</h3>
<img src="/imagenes/21.jpg" class="img-full-width"/>
<h3>2012. Grafito y tinta sobre papel. 50 x70cm c/u.</h3>
<img class="img-centered"src="/imagenes/22.jpg" />
<h3><em>13 Segundos.</em> 2012. Grafito y tinta sobre papel. 50 x70cm c/u.</h3>