<img class="img-full-width" src="/imagenes/9.jpg" />
 <h2>Miriam Salado</h2>
 <div class="columns"> 
 	<div class="column column-medios">

 		<h4>Bacadehuachi, Sonora, 1987.</h4>
	 	<p>Si queremos distinguirnos buscaremos que ponernos encima, tomaremos  con desesperación cualquier símbolo que se encuentre a la mano que nos represente. El desarrollo de la civilización ha cambiado las cosas, en algún momento de la historia los símbolos se volvieron productos, lujos propios de la moda empezaron a definir nuestra cultura. Trapos y piedras, disponibles como mercancía, congregan a grupos de personas. Una verdad incómoda es que si bien guardamos motivaciones diferentes, el consumo unifica.</p>
	 
		<p>El Cártel aquí presente, parece entregado a placeres profanos. A riesgo de banalizar disciplinas sagradas y alejar a defensores de la alta cultura, Salado ha otorgado un cuidadoso tratamiento a la reproducción de objetos y situaciones populares, rescatando su trascendencia simbólica. El dibujo opera en función del muestreo, una técnica entregada al estudio de la naturaleza se vuelve una fiel herramienta para el artista-etnógrafo interesado en las sutilezas de la subjetividad.</p>

		<a href="/pdf/cv.pdf" target="cv"><br>curriculum.pdf</a>

	</div>
		<div class="column column-medios">
	</div>
</div>

