<img class="img-full-width" src="imagenes/9.jpg" />
 <h2>Miriam Salado</h2>
 <div class="columns"> 
 	<div class="column column-medios">

 		<h4>Hermosillo Sonora 1987.</h4>
	 	
	 
		<p>Su trabajo se compone principalemente de dibujo, en ellos se encuentran retratos y objetos. Separando estos de su contexto busca resaltar las particularidades estéticas y simbólicas de cada uno de ellos. Abordando desde la representación el tema de  identidad y banalidad del ser humano.</p>

		<p>Cursó estudios de Licenciatura en Artes Plásticas en la Universidad de Sonora y Escuela Nacional de Artes Plásticas ENAP-UNAM México D.F.
		Su obra ha sido expuesta colectivamente en Tijuana, Monterrey, San Luis Potosí, Sinaloa y Sonora e individualmente en Hermosillo Sonora 2013. Obtuvo premio de adquisición en la 8va Bienal de Artes Visuales de Sonora 2012 y mención honorífica en 13va. Bienal de Artes Visuales del Noroeste en Culiacán Sinaloa 2011. Becaria del Fondo Estatal para la Cultura y las Artes de Sonora FECAS 2012-2013 y Fondo Nacional para la Cultura y las Artes FONCA 2013-2014.</p>

		<p>Actualmente vive y trabaja en Hermosillo, Sonora.</p>

		

	</div>
		<div class="column column-medios">
		<h4><a href="pdf/cv_miriam_salado.pdf" target="cv">CURRICULUM.pdf</a></h4>
	</div>
</div>