.royalSlider.rsDefaultInv {
  	width: 100%;
  	@include group;
  	margin-bottom:60px;

	.rsContainer {
		background:#efefef;
	}

	.rsOverflow, .rsSlide, .rsVideoFrameHolder, .rsThumbs {
		background: white;
	}

	.rsBullets, .rsGCaption {
		display:inline-block;
		position:relative;
	}

	.rsArrowRight, .rsArrowLeft {
		display:none !important;
	}

    /* thumbnails */
	.rsThumb {
		width:60px;
		height:45px;
	}

	.rsThumbsHor {
		height:45px;
	}

	.rsThumbsContainer {
		margin-top:4px;
	}
	/* thumbnails end */

	.rsBullets {
		background: none;
		text-align:right;
		float:right;
		margin: 7px 0px;
		width:auto;

		.rsBullet span {
			background: #ccc;	
		}

		.rsNavSelected span {
			background: #666;
		}
	}

	.rsGCaption {
		top:5px;
		bottom:0;
		left:0;
		background: none;
		color: rgba(137,159,172,1);
		font-size: 0.8em;
		float:left;
		font-family: "adelle-sans";
		font-weight: 200;
		padding:0;


	}  
}

.royalSlider-teaser.rsDefaultInv {

	.rsArrowRight {
		display: none !important;
	}

	.rsArrowLeft {
		display: none !important;
	}
	.rsBullets {
		display: none !important;
	}
	.rsGCaption {
		font-family: "adelle-sans";
		font-style: italic;
		bottom:40px;
		margin-left: 150px;
		font-size: 1.2em;
		left:0;
		background:rgba(39,40,34,0.6);

		a {
		color:white;
		}

		a:hover {
			color:rgba(180,180,180,1);
		}

	}
}

